<%- include("partials/header") %>

<h1>Compose</h1>

<form action="/compose" method="post">

    <div class="form-group">
    <label for="publishTitle" class="form-label">Title</label>
    <input type="text" name="publishTitle" autocomplete="off" class="form-control">

    <label for="publishContent" form="form-label">Post</label>
    <textarea name="publishContent" rows="5" class="form-control"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">publish</button>
</form>

<%- include("partials/footer") %>